.hero {
    width: 100%;
    margin-left: 0;
    height: 400px;
    display: flex;
    align-items: center;
    background-color: rgb(203, 234, 245);
    margin-bottom: 30px;
}

.hero-content {
    margin: 100px;
}